* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #050505;
}

body::-webkit-scrollbar-thumb{
	background: #6A040F;
	border-radius: 10px;
}
body::-webkit-scrollbar{
	width: 5px;
}

.navbar{
	position: fixed;
    width: 100vw;
    height: 5rem;
	background-color: #23232e;
	z-index: 2;
}

.navbar-nav{
    list-style: none;
	display: flex;
	justify-content: center;
}
.nav-link{
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
    color: rgb(179, 179, 179);
}
.nav-link:hover{
	color: white;
}

.link-text{
    font-size: 1rem;
}

.nav-item{
	width: 17%;
	padding: 0vh 3vw;
	background-color: transparent;
	border: 100px #fcfffe;
}
.nav-item:hover {
	background-color: #FCA311;
}


.title{
	text-align: center;
	color: white;
	font-family: 'Monaco';
	padding-top: 7rem;
	z-index: 1;
}
.title-text{
	font-size: 3rem;
}
.title-box{
	padding: 0 5vh;
	border-bottom: 1px solid white;
	display: inline-block;
}
.slogan{
	text-align: center;
	font-family: 'Comic Sans';
}
.slogan-text{
	color: gray;
	font-size: 1.5rem;
}
.slogan-box{
	padding: 3vh 5vh;
	display: inline-block;
}

.sub-title{
	text-align: center;
	color: #b7b8b4;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 5vh;
	padding-top: 7rem;
	z-index: 1;
}
.sub-title-text{
	font-size: 2rem;
}
.sub-title-box{
	padding: 0 5vh;
	display: inline-block;
}

/*contenedor de targetas de informacion personal*/

.contenedor {
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_targeta {
	margin: 50px;
}

.contenedor_targeta a {
	display: inline-block;
}

.contenedor_targeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

figure img {
    width: 130px;
    height: 130px;
    border-radius:150px;
    border:2px solid rgb(255, 255, 255);
}

figure {
	width: 400px;
	height: 400px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    text-align: center;

    background: #2f3650;
    background: -webkit-linear-gradient(to right, #2f3650, #0f0c29);
    background: linear-gradient(to right,#2f3650, #0f0c29);
}


figure .trasera{   /*mezclamos el texto con la imagen y hacemos que aparezca al rotar la imagen*/
	list-style-type: square;
	position: absolute;
    padding: 40px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
    background: #ca3e49;
    background: -webkit-linear-gradient(to right, #370617,#6A040F);
	background: linear-gradient(to right, #370617,#6A040F);
	z-index: 5;


}

figure .frontal .titulo {
    color: #fff;
    height: 2px;
	font-weight: normal;
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}


.TituloPrincipal {
    padding:10px;
    color:rgb(18, 47, 141);
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}


figure .frontal .subtitulo {
    color: #fff;
    height: 2px;
	font-weight: normal;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

figure .frontal hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .frontal p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.description{
	width: 97vw;
	height: auto;
	display: flex;
	color: #8b8b8b;
	justify-content: center;
}

.description-box{
	width: 60%;
	margin-top: 5vh;
}


/*Targetas de pasiones*/


/*lado izquierdo*/
.pasiones{
	height: auto;
	width: 97vw;
}
.pasion-box{
	width: 65.9vw;
	margin-left: 17vw;
}

.preferencias-contenedor{
	display: flex;
	position: relative;
	background: rgba(255, 255, 255, 0.90);
	margin-bottom: 8vh;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;        /*targetas derecha*/
	height: 23rem;
	width: 100%;
}

.preferencias-contenedor:hover{
	transition-duration: 0.3s;
	transform: scale(1.01) translateY(-10px);
}

.preferencias-contenedor img {
	width: 100%;
	height: 100%;
	position: relative;
}
.product-image{
	width: 50%;
}

.preferencias-contenedor .contenido {
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 20px;
	height: 100%;
	float: left;
	width: 50%;
}

.preferencias-contenedor .contenido h1{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 40px;
	color: #20375e;
	margin: 15px;
}

.preferencias-contenedor .contenido p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 18px;
	color: #000000;
}



.div-logo{
	width: 98.7vw;
	height: auto;
}
.logo{
	width: 30%;
	height: 30%;
	margin-left: 35%;
	margin-top: 10vh;
	margin-bottom: 30vh;
}
.logo img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.logo:hover{
	border: 2px solid #9D0208;
	border-radius: 10px;
	transition: all ease-out 2s;
	box-shadow: 1px 1px 10px 1px #6A040F;
	transform: scale(1.7) translateY(50px);
}

@media only screen and (max-width: 1000px){
	.pasion-box{
		width: 90vw;
		margin-left: 5vw;
	}
}
@media only screen and (max-width: 750px){
	.preferencias-contenedor .contenido p {
		font-family: 'Farsan', cursive;
		text-align: center;
		font-size: 15px;
		color: #000000;
	}
	.preferencias-contenedor .contenido h1{
		font-size: 20px;
	}
	.logo{
		width: 70%;
		height: 70%;
		margin-left: 15%;
	}
	.logo:hover{
		border: 2px solid #9D0208;
		border-radius: 10px;
		transition: all ease-out 2s;
		box-shadow: 1px 1px 10px 1px #6A040F;
		transform: scale(1.3) translateY(50px);
	}
	.preferencias-contenedor{
		display: block;
		height: auto;
	}
	.product-image{
		width: 100%;
	}
	.preferencias-contenedor .contenido {
		width: 100%;
	}
	.nav-item{
		text-align: center;
		width: 25%;
		padding: 0vh 2vw;
		background-color: transparent;
		border: 100px #fcfffe;
	}
}


/*EDUARDO GUARNIZO ESTILOS*/



*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }
